# to get the account file, create a new JSON key under API's & auth - Credentials in the Google Developer Console
account_file                = "/home/someone/.terraform/ContainerSolutions-1242445757.json"
project                     = "container-solutions"
region                      = "europe-west1"
zone                        = "europe-west1-d"
gce_ssh_user                = "someone"
gce_ssh_private_key_file    = "/home/someone/.ssh/id_rsa"
name                        = "cluster1"
masters                     = "3"
slaves                      = "3"
network                     = "10.0.0.0/24"
localaddress                = "192.168.0.2/32"
